#copyright {
    text-align: center;
    font-size: 12px;
    background-color: gray;
    padding: 10px;
    color: rgb(238, 238, 238);


}

#powered {
    text-align: center;
    font-size: 10px;
    color: rgb(66, 67, 68);
}